version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: ecommerce_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - ecommerce_network

  backend:
    build: ./backend
    container_name: ecommerce_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb
    networks:
      - ecommerce_network
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: ecommerce_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - ecommerce_network
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  mongo_data:

networks:
  ecommerce_network:
    driver: bridge